services:
  backup:
    image: offen/docker-volume-backup:v2
    container_name: backup
    restart: unless-stopped
    environment:
      BACKUP_CRON_EXPRESSION: "0 2 * * *"
      BACKUP_RETENTION_DAYS: "7"
      BACKUP_FILENAME: "backup-%Y-%m-%dT%H-%M-%S.tar.gz"
      AWS_S3_BUCKET_NAME: ${BACKUP_S3_BUCKET}
      AWS_ACCESS_KEY_ID: ${BACKUP_AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${BACKUP_AWS_SECRET_ACCESS_KEY}
      AWS_ENDPOINT: ${BACKUP_AWS_ENDPOINT:-}
      AWS_S3_PATH: ${BACKUP_S3_PATH:-backups}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/volumes:/backup/docker-volumes:ro
    networks:
      - egress

networks:
  egress:
    driver: bridge
